# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env

# tools
.pytest_cache/
.ipynb_checkpoints/
.vscode/

# app
/artifacts/*
!/artifacts/.gitkeep
.streamlit/

# OS
.DS_Store
Thumbs.db

screens/scratch.py

# codex temp
.codex_tmp_*
